site_name: Microsoft Outlook for Virginia Tech Students
site_url: https://anttav0110.github.io/site
repo_url: https://github.com/anttav0110/anttav0110.github.io
theme:
  name: material
  palette:
    primary: custom
extra_css:
  - stylesheets/extra.css
markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences